@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL ELEMENTS */
html, body {
    font-family: 'Roboto', sans-serif;
    // font-family: "Crimson Text", serif;
}
hr {
    color: #8a8a8a;
}

/* TEXT */
p {
    margin-top: 0;
    // margin-bottom: 1rem;
    // font-size: 16px;
    // line-height: 120%;
    letter-spacing: -.02em;
}
.section-title {
    font-weight: bold;
    // font-size: 1.2rem;
    margin-bottom: 10px;
}

/* CARDS */
.card {
    border-radius: 0!important;
    border: 1px solid rgb(240, 240, 240)!important;
    margin: 20px 0px;
}
.card-header {
    background-color:white!important;
    border-bottom: 0!important;
    padding: 25px 35px 0 35px!important;
}
.card-body {
    padding: 0 35px 25px 35px!important;
}

/* CHARTS */
.chart-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    // font-family: "Lora", serif;
    color: #1b1c2b;
}
.group-by-filters span {
    color: rgb(181, 181, 181);
    border-bottom: 2px solid white;
    cursor: pointer;
    transition: 0.5s all;
}
.group-by-filters span.active {
    border-bottom: 2px solid #1f77b4;
    color: black;
}
.group-by-filters span:hover {
    color: black;
}

/* BUTTONS */
.btn-primary {
    background-color: #1f77b4;
}

/* FORMS */
.form-check-input {
    height: 25px;
    width: 50px!important;
}
.form-check-input:checked {
    background-color: #1f77b4;
    border-color: #1f77b4;
}

/* GRIDS */
.fixed-width-50 {
    max-width: 50px!important;
}
.fixed-width-350 {
    max-width: 350px!important;
}
.fixed-height {
    max-height: 5000px; // allows transition
    transition: .5s all;
    overflow: hidden;
}
.fixed-height-50 {
    max-height: 50px!important;
}

/*************** RESPONSIVE ***************/
.show-on-mobile {
    display: none!important;
}
.hide-on-mobile {
    display: block!important;
}
// 992 is bootstraps xl grid breakpoint
@media (max-width: 992px) {
    #main-sidebar {
        max-width: 100%;
        height: 75px!important;
        min-height: auto!important;
    }
    .fixed-width-75 {
        max-width: 100%!important;
    }
    .fixed-width-175 {
        max-width: 100%!important;
    }
    .fixed-width-50 {
        max-width: 100%!important;
    }
    .fixed-width-350 {
        max-width: 100%!important;
    }
    .nav-link {
        display: inline-block!important;
        font-size: 16px!important;
        margin-bottom: 20px;
        // margin-right: 20px!important;
        padding: 15px 5px!important;
    }
    #main-sidebar .nav-link span.small{
        font-size: 16px!important;
        letter-spacing: 1px!important;
    }
    .show-on-mobile {
        display: block!important;
    }
    .hide-on-mobile {
        display: none!important;
    }
    #logo-container {
        position: relative;
        height: 50px;
        margin-bottom: 0!important;
        margin-left: 15px!important;
        margin-right: 15px!important;
        display: inline-block;
    }
    .logo {
        max-width: 100px;
        margin: 0!important;
        opacity: 1;
        position: static!important;
        transition: 1 all;
    }
    .logoIcon {
        display: none!important;
    }
    .nav-content, .social {
        display: inline-block;
    }
    .social.mt-auto {
        margin-top: 15px!important;
        margin-left: auto!important;
    }
    #main-sidebar .flex-column {
        flex-direction: row!important;
    }
}